/* Need to set specific style for .item:hover, #logo, and .tag */

.item:hover, .item:hover a {
	background:#e1fec7;
}



/* No more customizations necessary below this */

body,dl {
	overflow-x:hidden;
	margin:0;
	padding:0;
	font-family:Tahoma;
	direction: rtl;
}

#popup {

	overflow-x:hidden;
}

#logo{
	float: left;
	margin: 5px 30px;
}

.item {
	clear:both;
	text-decoration:none;
	text-align:justify;
	color:black;
	padding:7px;
	text-overflow:ellipsis;
	overflow:hidden;
	display: block;
	border-radius:5px;
}

dt{
	font-size:0.8em;
	margin: 5px 10px;
}
dd{
	padding:10px 0 0 20px;
	font-size:0.7em;
}